<div class="custom-model-main">
    <div class="custom-model-inner">
        <div class="close-btn">×</div>
        <div class="custom-model-wrap">
            <div class="pop-up-content-wrap">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="opend-section">
                                <div class="boxes-area">
                                    <div class="img1">
                                        <div class="video-container" style="padding:56.25% 0 0 0;position:relative;">
                                            <iframe src="https://player.vimeo.com/video/1098963748?autoplay=1&loop=1&autopause=0&muted=1&controls=0&background=1" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Popup Video"></iframe>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <a href="#" style="font-size: 32px; line-height: 40px;">Let's Build Your Vision, Together.</a>
                                        <div class="pera">
                                            <p>I'm ready to bring your ideas to life with compelling motion and stunning visuals. Whether you have a clear concept or just the start of an idea, I'm here to help you create something extraordinary. Let's start the conversation and build your vision.</p>
                                        </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="contact-from-area" id="contact-form">
                                <h3>LEAVE A MESSAGE</h3>
                                <div class="input-area">
                                    <form action="#">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="input">
                                                    <input type="text" placeholder="Full Name *" required>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="input">
                                                    <input type="tel" placeholder="Phone Number *" required>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="input">
                                                    <input type="email" placeholder="Email Address *" required>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="input">
                                                    <select class="nice-select" name="service" required>
                                                        <option data-display="How Can I Help? *">Select a Service</option>
                                                        <option value="Cinematic Color Grading">Cinematic Color Grading</option>
                                                        <option value="Automotive Cinematics">Automotive Cinematics</option>
                                                        <option value="Architectural & Real Estate Video">Architectural & Real Estate Video</option>
                                                        <option value="3D Product Visualisation & Animation">3D Product Visualisation & Animation</option>
                                                        <option value="Intro Sequences & Motion Graphics">Intro Sequences & Motion Graphics</option>
                                                        <option value="VFX & Compositing">VFX & Compositing</option>
                                                        <option value="Creative Direction & Consulting">Creative Direction & Consulting</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="input">
                                                    <textarea name="message" placeholder="Tell me a bit about your project..."></textarea>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="btn-area">
                                                    <button class="vl-btn1" type="submit">Submit</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-overlay"></div>
</div>
